<html lang="en">

  <head>
    <link rel="stylesheet" href="../../public/css/styles.css"/>
    <title>Express Website</title>

    <link rel="stylesheet" href="css/style.css">
  </head>

  <!--Creating A Dynamic web page by using dynamic
  values given by node js !-->
  
    {{>Header}}
      <img src="assets/sauhardo.jpg" alt="image of the creator">
    {{>footer}}
    
</html>