<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Express Website</title>
  </head>

  <body>
    {{>Header}}

    <h1>{{ErrorMessage}}</h1>
    <p>{{ErrorParagraph}}</p>
    
    {{>footer}}

  
  </body>

</html>