<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="../css/style.css">
    <title>Express Website</title>
  </head>

  <body>
    {{>Header}}

    <h1 id="ErrorMessage">{{ErrorMessage}}</h1>
    <p id="ErrorParagraph">{{ErrorParagraph}}</p>
    
    {{>footer}}

  
  </body>

</html>