<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/style.css" rel="stylesheet" type="text/css">
   
    <title>Express Website</title>
  </head>

  <body>
    {{>Header}}
     {{>footer}}
    <p>{{help_text}}</p>
  </body>
</html> 