<!DOCTYPE html>
<html lang="en">

  <head>

  <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/css/style.css">

    <title>Express Website</title>
  </head>

  <!--Creating A Dynamic web page by using dynamic
  values given by node js !-->
  <body>
    {{>Header}}

    <foarm>
      <input placeholder="location" id="location"/>
      <button id="Search">
        search
      </button>
    <foarm>
    
    <p id="message-1"></p>
    <p id="message-2"></p>
    {{>footer}}
     
    <script defer src="/js/app.js"></script>
  </body>

</html>